section {
     background-color: rgb(174, 219, 186);
}


.container-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    padding: 40px 20px;
    background-color: rgb(174, 219, 186);
}



.image-hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s;
  
}

.title-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
    transition: all 0.5s ease;
    
}
/* .image-hover:hover {
  width: 500px; 
  height: 500px;
} */

.title-me {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 4rem;
    color: #000000;
}

.title-me span {
    opacity: 0;
    transition: opasity 0.2s, font-size 1s 0.2s;
}

.image-hover:hover {
    width: 700px;
    padding: 0 ;
}


.title-me span:hover {
    opacity: 1;
    font-size: 100px;
}
